body{
  background-image: url(brownbg.jpg);
}

.mainlogo{
  text-align: center;
  padding-top: 70px;

}

a{
    display: flex;
    padding: 10px;
    justify-content: center;
    font-size: 16px;
    text-decoration: none;
    list-style-type: none;
    
    font-family: 'Montserrat', sans-serif;
}
a:hover{
    text-decoration: none;
    color: beige;
}

h1{
    padding: 20px;
    display: flex;
    justify-content: center;
}

.intros{
  text-align: center;
  padding-top:40px;
  padding-bottom:40px;
  background-color: white;
}
.intros img{
  width: 30%;
}
.intros p{
  margin-top: -30px;
  padding: 20px;
}

.sliders{
  display: flex;
  
  justify-content: space-around;
  background-color: #eeeeee;
  padding-bottom: 20px;
}


.mass{
  background-color: white;
    align-items: center;
    padding: 50px;
    font-size: 20px;
}
.mynav{
    width: 100%;

    background: hsla(0, 0%, 93%, 0.63);
    
    z-index: 4;
}
.menula{
  color: black;
  text-decoration: none;
      list-style: none;
}
.menula:hover {
  color: #8b8b8b;
}
.mynav img{
    width: 20%;
}
.carousel .carousel-item {
    height: 500px;
  }
  
  .carousel-item img {
      position: absolute;
      object-fit:cover;
      top: 0;
      left: 0;
      min-height: 500px;
  }

  .maincardd{
    padding-top: 40px;
    margin-top: 0px;
    background-color: #ffffff;
    
    
  }
  .maincardd h1{
    font-family: 'Josefin Slab', serif;
    text-align: center;
  }
  .cardd{
    
    
    padding-bottom: 50px;
  }
  .cardd:first-of-type{
    display: flex;
    text-align: center; 
    justify-content: center;
    align-items: center;
    padding-top: 50px;
  }
  .cardd img{
    text-align: center;
   }
  

  .outchurchpic{
    width: 400px; 
    height: 400px;
  }

  .entrypic{
    width: 50%;
  }
  
  .units{
    background-color: white;
    padding: 20px;
  }
 
.zone{
  padding-top:50px;
}
.pithru{

}

.forane{
  padding-top: 20px;
  background-color: white;
  font-size: 18px;
}


  /* foreing */

  .cards {
    display: flex;

    /* Put a card in the next row when previous cards take all width */
    flex-wrap: wrap;

    margin-left: -8px;
    margin-right: -8px;
}

.cards__item {
    /* There will be 4 cards per row */
    flex-basis: 25%;

    padding-left: 8px;
    padding-right: 8px;
}

    .animate {
      animation-duration: 0.5s;
      -webkit-animation-duration: 0.5s;
      animation-fill-mode: both;
      -webkit-animation-fill-mode: both;
    }
  
  
  @keyframes slideIn {
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0rem);
      opacity: 1;
    }
  
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
  }
  
  @-webkit-keyframes slideIn {
    0% {
      -webkit-transform: transform;
      -webkit-opacity: 0;
    }
  
    100% {
      -webkit-transform: translateY(0);
      -webkit-opacity: 1;
    }
  
    0% {
      -webkit-transform: translateY(1rem);
      -webkit-opacity: 0;
    }
  }
  
  .slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
  }
  
  /* foreign ends */

  /*mobile view */

  @media only screen and (max-width: 600px) {

    iframe{
      width: 100%;
      height: 100%;
    }
    .mainlogo img{
      width: 70%;
      padding-top: 30px;
    }
    .mynav{ 
        background:#87261e;
        position: absolute;
        top: 0;
        color: white;
        
    }
    .mynav img{
        width: 60%;
    }

    .menula{
      color: rgb(197, 197, 197);
      
    }
    .intros img{
      width: 60%;
    }

    .sliders{
      width: 100%;
      display: inline-block;
    }

    .sliders .card{
      margin-top:30px;
    }

    .colimg{
      display: none;
    }
    
    .outchurchpic{
      width: 300px; 
      height: 300px;
    }
    
    .cardd:first-of-type{
      display: inline-block;
    }
    .cardd:first-of-type p{
      margin-top:50px;
      
    }
    .cardd:last-child{
      padding-left: 35px;
    text-indent: -25px;
    }
  
  }
