.mainlogo{
    text-align: center;
    padding-top: 120px;
  }
  
  a{
      display: flex;
      padding: 10px;
      justify-content: center;
      font-size: 22px;
      text-decoration: none;
      list-style-type: none;
      
      font-family: 'Josefin Slab', serif;
  }
  a:hover{
      text-decoration: none;
      color: beige;
  }
  .imgwalaclass{
      text-align: center;
  }
  
  
  
  
  .weltext{
      padding-left: 35%;
      position:absolute;
      bottom: 10%;
  }
  
  h1{
      padding: 20px;
      display: flex;
      justify-content: center;
  }
  
  
  p{
      text-align: center;
      
  }
  .mass{
      align-items: center;
      padding: 50px;
  }
  .mynav{
      width: 100%;
  
      background: hsla(0, 0%, 93%, 0.63);
      
      z-index: 4;
  }
  .mynav img{
      width: 20%;
  }
  .carousel .carousel-item {
      height: 500px;
    }
    
    .carousel-item img {
        position: absolute;
        object-fit:cover;
        top: 0;
        left: 0;
        min-height: 500px;
    }
  
    .maincardd{
      margin-top: 90px;
      text-align: center;
    }
    .maincardd h1{
      font-family: 'Josefin Slab', serif;
    }
    .cardd p{
      padding: 15px;
      text-align: left;
    }
  
    .outchurchpic{
      width: 400px; 
      height: 400px;
    }
  
    .entrypic{
      width: 50%;
    }
    
  
    /* foreing */
      .animate {
        animation-duration: 0.5s;
        -webkit-animation-duration: 0.5s;
        animation-fill-mode: both;
        -webkit-animation-fill-mode: both;
      }
    
    
    @keyframes slideIn {
      0% {
        transform: translateY(1rem);
        opacity: 0;
      }
    
      100% {
        transform: translateY(0rem);
        opacity: 1;
      }
    
      0% {
        transform: translateY(1rem);
        opacity: 0;
      }
    }
    
    @-webkit-keyframes slideIn {
      0% {
        -webkit-transform: transform;
        -webkit-opacity: 0;
      }
    
      100% {
        -webkit-transform: translateY(0);
        -webkit-opacity: 1;
      }
    
      0% {
        -webkit-transform: translateY(1rem);
        -webkit-opacity: 0;
      }
    }
    
    .slideIn {
      -webkit-animation-name: slideIn;
      animation-name: slideIn;
    }
    
    /* foreign ends */
  
    /*mobile view */
  
    @media only screen and (max-width: 600px) {
  
      .mynav{ 
          background:white;
          
      }
      .mynav img{
          width: 60%;
      }
  
      .cardd img{
        width: 100%;
      }
      .outchurchpic{
        width: 300px; 
        height: 300px;
      }
    
    }
  
  